In [128]:
import pandas as pd

In [129]:
df = pd.read_csv("Data/Copy of COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20231228.csv", header = 0)

C:\Users\rodriguezd14\AppData\Local\Temp\ipykernel_3096\1459808291.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/Copy of COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20231228.csv", header = 0)

In [130]:
df = pd.read_csv("Data/Copy of COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20231228.csv", header = 0, low_memory = False)

In [131]:
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [132]:
df = pd.read_csv("Data/Copy of COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20231228.csv", header = 1, low_memory = False)

In [133]:
df.head()

,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0,Unnamed: 10,Missing,Missing.1,Laboratory-confirmed case,Missing.2,Missing.3,Missing.4,Missing.5,Unnamed: 18
0,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2021-12,MA,25,PLYMOUTH,25023,18 to 49 years,Female,Unknown,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [134]:
df = pd.read_csv("Data/Copy of COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20231228.csv", header = 0, low_memory = False)

In [135]:
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [136]:
type(df)

pandas.core.frame.DataFrame

In [137]:
df.shape

(1048575, 19)

In [138]:
df.dtypes

case_month                          object
res_state                           object
state_fips_code                      int64
res_county                          object
county_fips_code                     int64
age_group                           object
sex                                 object
race                                object
ethnicity                           object
case_positive_specimen_interval    float64
case_onset_interval                float64
process                             object
exposure_yn                         object
current_status                      object
symptom_status                      object
hosp_yn                             object
icu_yn                              object
death_yn                            object
underlying_conditions_yn            object
dtype: object

In [139]:
df.columns

Index(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'hosp_yn', 'icu_yn',
       'death_yn', 'underlying_conditions_yn'],
      dtype='object')

In [140]:
df["case_month"]

0          2022-01
1          2020-12
2          2022-06
3          2022-01
4          2022-07
            ...
1048570    2020-12
1048571    2022-09
1048572    2021-12
1048573    2022-01
1048574    2022-05
Name: case_month, Length: 1048575, dtype: object

In [141]:
df[["case_month", "res_county", "age_group"]]

        case_month res_county       age_group
0          2022-01  WORCESTER  18 to 49 years
1          2020-12    BRISTOL  18 to 49 years
2          2022-06    HAMPDEN  18 to 49 years
3          2022-01  HAMPSHIRE    0 - 17 years
4          2022-07    NORFOLK  18 to 49 years
...            ...        ...             ...
1048570    2020-12    SUFFOLK  18 to 49 years
1048571    2022-09  WORCESTER       65+ years
1048572    2021-12    HAMPDEN    0 - 17 years
1048573    2022-01    NORFOLK  18 to 49 years
1048574    2022-05    BRISTOL  50 to 64 years

[1048575 rows x 3 columns]

In [142]:
type(['case_month', 'res_county', 'age_group'])

list

In [143]:
x = ['case_month', 'res_county', 'age_group']

In [144]:
print(x)

['case_month', 'res_county', 'age_group']

In [145]:
df.head(2)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [146]:
df.rename(columns={'res_state':'Residential State'})

,case_month,Residential State,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2020-12,MA,25,SUFFOLK,25025,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048571,2022-09,MA,25,WORCESTER,25027,65+ years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048572,2021-12,MA,25,HAMPDEN,25013,0 - 17 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048573,2022-01,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048574,2022-05,MA,25,BRISTOL,25005,50 to 64 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [147]:
df.rename(columns={'res_county':'Residential County', 'res_state':'Residential State'})

,case_month,Residential State,state_fips_code,Residential County,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2020-12,MA,25,SUFFOLK,25025,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048571,2022-09,MA,25,WORCESTER,25027,65+ years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048572,2021-12,MA,25,HAMPDEN,25013,0 - 17 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048573,2022-01,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1048574,2022-05,MA,25,BRISTOL,25005,50 to 64 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [148]:
df.iloc[1,7]

'Black'

In [149]:
df.iloc[1,:]

case_month                                           2020-12
res_state                                                 MA
state_fips_code                                           25
res_county                                           BRISTOL
county_fips_code                                       25005
age_group                                     18 to 49 years
sex                                                     Male
race                                                   Black
ethnicity                                    Hispanic/Latino
case_positive_specimen_interval                          0.0
case_onset_interval                                      NaN
process                                              Missing
exposure_yn                                          Missing
current_status                     Laboratory-confirmed case
symptom_status                                       Missing
hosp_yn                                              Missing
icu_yn                                               Missing
death_yn                                             Missing
underlying_conditions_yn                                 NaN
Name: 1, dtype: object

In [150]:
df.iloc[:,1]

0          MA
1          MA
2          MA
3          MA
4          MA
           ..
1048570    MA
1048571    MA
1048572    MA
1048573    MA
1048574    MA
Name: res_state, Length: 1048575, dtype: object

In [151]:
df.iloc[[1], :]

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [152]:
df.iloc[[1,3],:]

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [153]:
df.iloc[2:5,:]

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2022-07,MA,25,NORFOLK,25021,18 to 49 years,Male,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [154]:
df.loc[2, 'res_county']

'HAMPDEN'

In [155]:
df.loc[:, 'res_county']

0          WORCESTER
1            BRISTOL
2            HAMPDEN
3          HAMPSHIRE
4            NORFOLK
             ...
1048570      SUFFOLK
1048571    WORCESTER
1048572      HAMPDEN
1048573      NORFOLK
1048574      BRISTOL
Name: res_county, Length: 1048575, dtype: object

In [156]:
df.loc[2:4, ['res_state', 'res_county', 'age_group']]

  res_state res_county       age_group
2        MA    HAMPDEN  18 to 49 years
3        MA  HAMPSHIRE    0 - 17 years
4        MA    NORFOLK  18 to 49 years

In [157]:
df.head(4)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [158]:
df.describe()

,state_fips_code,county_fips_code,case_positive_specimen_interval,case_onset_interval
count,1048575.0,1.048575e+06,1.044100e+06,142125.000000
mean,25.0,2.501576e+04,5.891390e-02,0.063282
std,0.0,8.253886e+00,7.997071e-01,1.181488
min,25.0,2.500100e+04,-6.900000e+01,-21.000000
25%,25.0,2.500900e+04,0.000000e+00,0.000000
50%,25.0,2.501700e+04,0.000000e+00,0.000000
75%,25.0,2.502300e+04,0.000000e+00,0.000000
max,25.0,2.502700e+04,1.210000e+02,63.000000

In [159]:
df['case_month'].unique()

array(['2022-01', '2020-12', '2022-06', '2022-07', '2021-12', '2021-01',
       '2021-08', '2022-12', '2022-04', '2023-01', '2021-11', '2021-10',
       '2023-04', '2022-02', '2023-03', '2021-03', '2022-05', '2023-02',
       '2023-10', '2020-05', '2020-08', '2023-05', '2023-09', '2022-03',
       '2023-08', '2023-07', '2023-11', '2022-09', '2020-09', '2020-11',
       '2020-10', '2022-08', '2020-06', '2021-09', '2021-07', '2022-11',
       '2023-06', '2020-04', '2021-04', '2021-02', '2020-03', '2021-05',
       '2020-07', '2022-10', '2021-06', '2020-02', '2020-01'],
      dtype=object)

In [160]:
df['case_month'].unique()

array(['2022-01', '2020-12', '2022-06', '2022-07', '2021-12', '2021-01',
       '2021-08', '2022-12', '2022-04', '2023-01', '2021-11', '2021-10',
       '2023-04', '2022-02', '2023-03', '2021-03', '2022-05', '2023-02',
       '2023-10', '2020-05', '2020-08', '2023-05', '2023-09', '2022-03',
       '2023-08', '2023-07', '2023-11', '2022-09', '2020-09', '2020-11',
       '2020-10', '2022-08', '2020-06', '2021-09', '2021-07', '2022-11',
       '2023-06', '2020-04', '2021-04', '2021-02', '2020-03', '2021-05',
       '2020-07', '2022-10', '2021-06', '2020-02', '2020-01'],
      dtype=object)

In [161]:
df['age_group'].unique()

array(['18 to 49 years', '0 - 17 years', '50 to 64 years', '65+ years',
       nan, 'Missing'], dtype=object)

In [162]:
df['res_county'].unique()

array(['WORCESTER', 'BRISTOL', 'HAMPDEN', 'HAMPSHIRE', 'NORFOLK',
       'PLYMOUTH', 'SUFFOLK', 'BARNSTABLE', 'MIDDLESEX', 'ESSEX',
       'BERKSHIRE', 'FRANKLIN'], dtype=object)

In [163]:
df['ethnicity'].unique()

array(['Hispanic/Latino', 'Non-Hispanic/Latino', 'Missing', nan,
       'Unknown'], dtype=object)

In [164]:
df.head(4)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-01,MA,25,WORCESTER,25027,18 to 49 years,Male,American Indian/Alaska Native,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1,2020-12,MA,25,BRISTOL,25005,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
2,2022-06,MA,25,HAMPDEN,25013,18 to 49 years,Male,Black,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
3,2022-01,MA,25,HAMPSHIRE,25015,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [165]:
df.shape

(1048575, 19)

In [166]:
df.shape[0]

1048575

In [167]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1048570     True
1048571     True
1048572     True
1048573     True
1048574     True
Length: 1048575, dtype: bool

In [168]:
sum(df.duplicated())

950734

In [169]:
df.duplicated().sum()

950734

In [170]:
sum(df.duplicated(subset=['case_month']))

1048528

In [171]:
sum(df.duplicated(subset=['case_month','res_county','age_group']))

1046294

In [172]:
df.isnull()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048571,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048572,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048573,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048574,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True

In [173]:
df['res_county'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: res_county, Length: 1048575, dtype: bool

In [174]:
df['res_county'].isnull().sum()

0

In [175]:
df.isnull().sum()

case_month                               0
res_state                                0
state_fips_code                          0
res_county                               0
county_fips_code                         0
age_group                             3713
sex                                   9803
race                                265156
ethnicity                           306518
case_positive_specimen_interval       4475
case_onset_interval                 906450
process                                  0
exposure_yn                              0
current_status                           0
symptom_status                           0
hosp_yn                                  0
icu_yn                                   0
death_yn                             24522
underlying_conditions_yn           1048557
dtype: int64

In [176]:
df['ethnicity'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: ethnicity, Length: 1048575, dtype: bool

In [177]:
df.isnull()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048571,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048572,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048573,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1048574,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True

In [178]:
df.isnull().sum(axis=1)

0          2
1          2
2          2
3          2
4          2
          ..
1048570    2
1048571    2
1048572    2
1048573    2
1048574    2
Length: 1048575, dtype: int64

In [179]:
df.isnull().sum(axis=1)[2]

2

In [180]:
df.isnull().sum(axis=1)==0

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool

In [181]:
df[df.isnull().sum(axis=1)==0]

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
27904,2020-12,MA,25,FRANKLIN,25011,18 to 49 years,Female,Unknown,Unknown,0.0,0.0,Missing,Yes,Probable Case,Symptomatic,No,Missing,No,Yes
44082,2021-09,MA,25,BERKSHIRE,25003,65+ years,Male,White,Non-Hispanic/Latino,0.0,0.0,Clinical evaluation,Yes,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
86376,2021-04,MA,25,BRISTOL,25005,18 to 49 years,Male,White,Non-Hispanic/Latino,1.0,0.0,Missing,Yes,Probable Case,Symptomatic,No,Missing,No,Yes
372112,2020-03,MA,25,HAMPDEN,25013,50 to 64 years,Male,White,Non-Hispanic/Latino,2.0,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
418467,2020-04,MA,25,BERKSHIRE,25003,18 to 49 years,Female,White,Non-Hispanic/Latino,1.0,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
507718,2020-11,MA,25,ESSEX,25009,65+ years,Female,White,Non-Hispanic/Latino,1.0,0.0,Clinical evaluation,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   case_month                       1048575 non-null  object
 1   res_state                        1048575 non-null  object
 2   state_fips_code                  1048575 non-null  int64
 3   res_county                       1048575 non-null  object
 4   county_fips_code                 1048575 non-null  int64
 5   age_group                        1044862 non-null  object
 6   sex                              1038772 non-null  object
 7   race                             783419 non-null   object
 8   ethnicity                        742057 non-null   object
 9   case_positive_specimen_interval  1044100 non-null  float64
 10  case_onset_interval              142125 non-null   float64
 11  process                          1048575 non-null  object
 12  exposure_yn                      1048575 non-null  object
 13  current_status                   1048575 non-null  object
 14  symptom_status                   1048575 non-null  object
 15  hosp_yn                          1048575 non-null  object
 16  icu_yn                           1048575 non-null  object
 17  death_yn                         1024053 non-null  object
 18  underlying_conditions_yn         18 non-null       object
dtypes: float64(2), int64(2), object(15)
memory usage: 152.0+ MB

In [190]:
df['case_month'] = pd.to_datetime(df['case_month'])

In [191]:
df_sorted = df.sort_values(by='case_month')

In [192]:
df_sorted.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
726292,2020-01-01,MA,25,MIDDLESEX,25017,NaN,NaN,NaN,NaN,52.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
726277,2020-01-01,MA,25,MIDDLESEX,25017,NaN,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN
726300,2020-01-01,MA,25,MIDDLESEX,25017,NaN,NaN,NaN,NaN,53.0,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN
726307,2020-01-01,MA,25,MIDDLESEX,25017,NaN,NaN,NaN,NaN,18.0,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN
726316,2020-01-01,MA,25,MIDDLESEX,25017,NaN,NaN,NaN,NaN,52.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN

In [195]:
df_sorted['case_month'] > pd.to_datetime('2023-04')

726292     False
726277     False
726300     False
726307     False
726316     False
           ...
427336      True
353193      True
353203      True
699851      True
1029085     True
Name: case_month, Length: 1048575, dtype: bool

In [187]:
(5>3) and (6>1)

True

In [196]:
 (df_sorted['case_month'] > pd.to_datetime('2023-04')) and (df_sorted['case_month'] < pd.to_datetime('2023-09'))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [197]:
 (df_sorted['case_month'] > pd.to_datetime('2023-04')) & (df_sorted['case_month'] < pd.to_datetime('2023-09'))

726292     False
726277     False
726300     False
726307     False
726316     False
           ...
427336     False
353193     False
353203     False
699851     False
1029085    False
Name: case_month, Length: 1048575, dtype: bool

In [199]:
 (df_sorted['case_month'] > pd.to_datetime('2023-04')) & (df_sorted['case_month'] < pd.to_datetime('2023-09'))

726292     False
726277     False
726300     False
726307     False
726316     False
           ...
427336     False
353193     False
353203     False
699851     False
1029085    False
Name: case_month, Length: 1048575, dtype: bool

In [200]:
condition =  (df_sorted['case_month'] > pd.to_datetime('2023-04')) & (df_sorted['case_month'] < pd.to_datetime('2023-09'))

In [201]:
df_filtered_by_month_2 = df_sorted[condition]

In [203]:
df_filtered_by_month_2.head(4)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
632498,2023-05-01,MA,25,HAMPDEN,25013,18 to 49 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1046738,2023-05-01,MA,25,WORCESTER,25027,50 to 64 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
961545,2023-05-01,MA,25,ESSEX,25009,65+ years,Male,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
699574,2023-05-01,MA,25,BRISTOL,25005,18 to 49 years,Male,NaN,NaN,NaN,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN

In [204]:
df_filtered_by_month_2.shape

(12691, 19)

In [205]:
condition_2 = (df_sorted['case_month'] > pd.to_datetime('2023-04')) & (df_sorted['age_group'] == '50 to 64 years')

In [206]:
df_filtered_by_month_and_age_group = df_sorted[condition_2]

In [207]:
df_filtered_by_month_and_age_group.head(4)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
1046738,2023-05-01,MA,25,WORCESTER,25027,50 to 64 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
1042492,2023-05-01,MA,25,ESSEX,25009,50 to 64 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN
1042516,2023-05-01,MA,25,ESSEX,25009,50 to 64 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
1046730,2023-05-01,MA,25,WORCESTER,25027,50 to 64 years,Male,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Missing,NaN

In [208]:
df_filtered_by_month_and_age_group.shape

(4972, 19)